/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	margin: auto;
  padding-top: 5em;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
}

.logo {
  text-transform: uppercase;
  font-size: 2.5em;
}

.topNavOrderButton {
  height: 60px;
  width: 150px;
  font-size: 1.4em;
  background-color: pink;
  border-radius: .2em;
  display: flex;
  justify-content: center;
  align-items: center;}

header {
  background-image: url("../images/nyc.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 17%;
  font-size: 1.6vw;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.5em;
  line-height: 1.2;
}

.gallery {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  width: 400px;
  height: 225px;
  border: 2px solid #FFFFFF;
  background: lightgray;
}

.orderPrintsButtonPanel {
  height: 100px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderPrintsButton {
  height: 60px;
  width: 150px;
  font-size: 1.4em;
  background-color: white;
  border-radius: .2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 50px;
  background-color: darkgray;
  color: black;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

