/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	margin: auto;
  padding-top: 5em;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
}

.logo {
  text-transform: uppercase;
  font-size: 2.5em;
}

.topNavOption {
  height: 60px;
  width: 150px;
  font-size: 1.4em;
  background-color: pink;
  border-radius: .2em;
  display: flex;
  justify-content: center;
  align-items: center;}

header {
  background-image: url("../images/nyc.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 8%;
  font-size: 10em;
  height: 500px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnail {
  width: 32%;
  cursor: pointer;
  height: 240px;
  margin-bottom: 20px;
  border: 2px solid #FFFFFF;
  background: lightgray;
}

.gallery label input[type="checkbox"] {
  display: none;
}

.selected {
  border: 10px solid yellow;
}

#chooseGear {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 2em;
}

.orderFormHeader {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.orderForm {
 padding: 20px;
}

form ul li, .cart {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

input {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 4px 6px;
  border: none;
  border-bottom: 1px solid #121212;
  color: #121212;
  width: 360px;
  outline: none;
}

input[type="radio"], input[type="checkbox"] {
  width: 20px;
}

form ul label {
  display: inline-block;
  width: 230px;
  margin-right: 15px;
}

.terms label {
  width: 500px
}

button {
  background-color: gray;
  color: white;
  width: 300px;
  padding: 10px 0;
  border-radius: 4px;
  font-size: 16px;
}

footer {
  height: 80px;
  background-color: darkgray;
  color: black;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
